.about-div{
    margin: 20px 10px;
}

/* Mobile Devices */
@media screen and (min-width: 400px) and (orientation: landscape){
    .about-div{
        width: 100%;
    }
}
@media screen and (min-width: 400px) and (orientation: portrait){
    .about-div{
        width: 100%;
    }
}
/* Tablet/Desktop */
@media (min-width: 800px) {
    .about-div{
        width: 49%;
    }
}
