.contact-div{
    margin: 20px 10px;
}
/* Mobile Devices */
@media screen and (min-width: 400px) and (orientation: landscape){
    .contact-div{
        width: 100%;
    }
}
@media screen and (min-width: 400px) and (orientation: portrait){
    .contact-div{
        width: 100%;
    }
}
/* Tablet/Desktop */
@media (min-width: 800px) {
    .contact-div{
        width: 50%;
    }
}