h4{
    color: rgb(79, 85, 90);
}
li{
    margin: 5px 0px;
}

/* Mobile Devices */
@media screen and (min-width: 375px) and (orientation: portrait){
    .pricing-div{
        display: block;
        width: 95%;
    }
}
@media screen and (min-width: 375px) and (orientation: landscape){
    .pricing-div{
        width: 90%;
    }
}
/* Tablet/Desktop */
@media screen and (min-width: 750px) and (orientation: portrait){
    .pricing-div{
        display: flex;
        width: 95%;
    }
}
@media (min-width: 1200px) {
    .pricing-div{
        width: 50%;
    }
}