<div class="pricing-div">
  <h1>Website Pricing</h1>

  <p>Pricing is based on the amount of time/energy required to build a website, as well as the content involved. Please note that
    this does not include setting up a domain - that will be on you to purchase and set up.</p>

  <h4>Wordpress Installation: $150 USD</h4>
  <p>A quick way to get a website up and running. I'll install and set up everything for you, including
    plugins and a (free) theme you want. Further customization not available; you'll be responsible for adding new CSS/PHP
    on your own.</p>

  <h4>Basic Website: $400 USD</h4>
  <p>This'll be a website built using my (or others) HTML/CSS templates, with some small customization
    on request. Included is a single major revision. No custom CSS animations.</p>

  <h4>Custom Website: $600 USD</h4> 
  <p>You have a wider degree of customization as I work with you to design a new site (with possible
    new templates) to your specifications. Included are up to three (3) major revisions. I can make some custom CSS animations on request.</p>

  <h3>Project Length</h3>
  <p>The time I have to devote to website production largely depends on how busy I am with my main job. I will ensure that you are kept up to date regarding my schedule. Before production begins, we will also agree on a deadline for the final product to be delivered.</p>

  <h3>Maintenance</h3>
  <p>Once the site is finished, it will be on you to maintain it by default. I will provide documentation so that
    you can easily edit the site code on your own (for example, changing a background image, or adding some new CSS). If, however,
    you need major changes made to the site, feel free to contact me and I will work with you again. Pricing on any large-scale
    changes will vary.</p>

  <h3>Design Philosophy</h3> 
  <p>Three pillars of design that I will always conform to are:</p>
  <ul>
    <li>&quot;Mobile First&quot; methodology - this means that I'll be making your website viewable on all devices by default.</li>
    <li>Open Source Code - I'll utilize open source code, and I'll do my best to credit any pieces of code I might use. Additionally, any original code I produce will be publically shared.</li> 
    <li>Clean UI - I will follow best practices in terms of UI/UX design, and will inform clients of best practices when it comes
    to building a new website.</li>
  </ul>

  <h1>Custom JavaScript</h1>

  <p>Pricing is based on an estimated per-hour basis. My current rate is $40 USD per hour. Simply describe what you need in terms
  of code and I will work with you on the specific code you require.</p>

  <h1>Writing and Editing</h1>

  <p>I can write on a variety of topics, from short stories to worldbuilding documents. I normally price my writing at <b>$5 per 1000 words.</b> Depending on content, these prices may fluctuate.</p>
  <p>For editing, I charge <b>$15 per document.</b> I'll provide detailed feedback on your work, including mechanical corrections and suggestions for improvement.</p>

  <p>For either writing or editing, the time required might take a bit due to my own projects and full-time job taking priority. If you need something done immediately, I can do so for an additional $10 fee.</p>

  <h1>Restrictions</h1>
  <p>While I will rarely turn down a request, there are some things that I will refuse to do, generally because of the effort involved or the nature of the content.</p>
  <ul>
    <li>eCommerce sites</li>
    <li>Blog sites</li>
    <li>Android/iOS applications</li>
    <li>Content that promotes hate speech</li>
    <li>Content of an illegal nature</li>
  </ul>


</div>
