.complete{
    color: darkgreen;
}

.wip{
    color: goldenrod;
}

.thumbnail img{
    height: 200px;
    padding: 3px;
    border: 1px solid black;
    background-color:rgb(172, 172, 172);
}
.thumbnail img:hover{
    background-color: cyan;
}
.thumbnail img:active{
    background-color: turquoise;
}

.folio-div{
    display: flex;
    margin: 20px 10px;
}

.text{
    margin-left: 15px;
}

/* Mobile Devices */
@media screen and (min-width: 375px) and (orientation: portrait){
    .folio-div{
        display: block;
        width: 95%;
    }
    .text{
        margin-left: 0px;
    }
}
@media screen and (min-width: 375px) and (orientation: landscape){
    .folio-div{
        width: 90%;
    }
    .text{
        margin-left: 15px;
    }
}
/* Tablet/Desktop */
@media screen and (min-width: 750px) and (orientation: portrait){
    .folio-div{
        display: flex;
        width: 95%;
    }
    .text{
        margin-left: 15px;
    }
}
@media (min-width: 1200px) {
    .folio-div{
        width: 50%;
    }
}