<div *ngFor='let portfolio of portfolios' class="folio-div">
  <div class='image'>
    <a class='thumbnail' href="{{portfolio.thumbLink}}" target="_blank">
      <img src="{{portfolio.thumb}}" />
    </a>
  </div>
  <div class='text'>
    <h2>{{portfolio.title}}</h2>
    <p>{{portfolio.content}}</p>
    <span class="complete" *ngIf="portfolio.isComplete">Project Complete!</span>
    <span class="wip" *ngIf="portfolio.isWip">Work in Progress.</span>
  </div>
</div>
