<div class='navigation'>
  <nav>
    <a routerLink="/home">Home</a>
    <span class="separator">|</span>
    <a routerLink="/about">About Me</a>
    <span class="separator">|</span>
    <a routerLink="/portfolio">Portfolio</a>
    <span class="separator">|</span>
    <a routerLink="/contact">Contact</a>
  </nav>
</div>
<div class='main'>
  <router-outlet></router-outlet>
</div>