body{
    background-color: azure;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: cyan;
}

nav a:active{
    color: turquoise;
}

.navigation{
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
}

.main{
    margin-top: 40px; 
    overflow-y: auto;
}

.separator{
    margin-left: 4px;
    margin-right: 4px;
}

/* Mobile Devices */
@media screen and (min-width: 400px) and (orientation: landscape){
    nav a {
        font-size: 12px;
    }
}
@media screen and (min-width: 375px) and (orientation: portrait){
    nav a {
        font-size: 12px;
    }
}
/* Tablet/Desktop */
@media (min-width: 800px) {
    nav a {
        font-size: 16px;
    }
}
